@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 14vh;
  border-bottom: solid 1px #dad5d5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
header .box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  gap: 1rem;
}
header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #1f2937;
}

.navbar {
  width: 45%;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.navbar ul li {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.navbar ul li a {
  color: #4b5563;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.3s;
}
.navbar ul li .link-nav:hover {
  color: #16a34a;
}

.btn-nav {
  background-color: #21c05c;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.btn-nav .btn-text {
  color: white;
}

.btn-nav:hover {
  background-color: #16a34a;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 65vh;
  margin: 0.5rem 0;
}
main .section-hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5em;
  color: #1f2937;
  width: 90%;
}
main .section-hero .green-text {
  color: #21c05c;
}
main .section-hero p {
  color: #4b5563;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin-top: 1rem;
  width: 80%;
}
main .section-hero .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 60%;
  height: inherit;
}
main .section-hero .box-text {
  width: 100%;
}
main .section-hero .box-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
main .section-hero .box-btn button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 1.5rem;
  gap: 0.5rem;
}
main .section-hero .box-btn .btn-green {
  background-color: white;
  color: #16a34a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 2px #16a34a;
}
main .section-hero .box-btn .btn-blue {
  background-color: white;
  color: #2563eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 2px #2563eb;
}
main .section-hero .box-btn img {
  display: block;
}
main .img-main {
  width: 35vw;
}
main .section-results {
  font-family: "Poppins", sans-serif;
  background-color: #f3f5f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 20vh;
}
main .section-results h2 {
  color: #16a34a;
  font-size: 2.8rem;
}
main .section-results p {
  color: #4b5563;
  font-size: 1.4rem;
}

.section-flow {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.section-flow .box-text {
  width: 72%;
}
.section-flow .box-text h2 {
  color: #1f2937;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
}
.section-flow .box-text p {
  color: #4b5563;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}
.section-flow .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 65%;
}
.section-flow .container .cards {
  background-color: #f3f5f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  width: 40%;
  height: 100%;
  border: solid green;
}
.section-flow .container .cards .cards-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.section-flow .container .cards .cards-title h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
.section-flow .container .cards ol {
  border: solid blue;
  height: 60%;
}
.section-flow .container .cards li {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}
.section-flow .container .cards p {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
}
.section-flow .container .card-donors .cards-title {
  color: #16a34a;
}
.section-flow .container .card-donors .icon-circle {
  background-color: #dcfce7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.5rem;
}
.section-flow .container .card-donors img {
  width: 1.3vw;
}
.section-flow .container .card-acquirers .cards-title {
  color: #2563eb;
  width: 55%;
}
.section-flow .container .card-acquirers .icon-circle {
  background-color: #dbeafe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.5rem;
}
.section-flow .container .card-acquirers img {
  width: 1.2vw;
}/*# sourceMappingURL=style.css.map */