@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

$primary-font: "Poppins", sans-serif;
$secondary-font: "Inter", sans-serif;
$primary-color: #1f2937;
$secondary-color: #4b5563;
$bg-lightgrey: #f3f5f8;
$bg-green: #16a34a;
$bg-lightgreen: #21c05c;
$bg-blue: #2563eb;

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 14vh;
  border-bottom: solid 1px #dad5d5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 1rem;
  }

  h1 {
    font-family: $primary-font;
    font-size: 2.5rem;
    color: $primary-color;
  }
}

.navbar {
  width: 45%;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    li {
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      a {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: 1.4rem;
        font-weight: 400;
        transition: 0.3s;
      }

      .link-nav:hover {
        color: $bg-green;
      }
    }
  }
}

.btn-nav {
  background-color: $bg-lightgreen;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.3s;
  cursor: pointer;

  .btn-text {
    color: #ffff;
  }
}

.btn-nav:hover {
  background-color: $bg-green;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 65vh;
    margin: 0.5rem 0;

    h2 {
      font-family: $primary-font;
      font-size: 5em;
      color: $primary-color;
      width: 90%;
    }

    .green-text {
      color: $bg-lightgreen;
    }

    p {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 1.6rem;
      margin-top: 1rem;
      width: 80%;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      width: 60%;
      height: inherit;
    }

    .box-text {
      width: 100%;
    }

    .box-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;

      button {
        font-family: $primary-font;
        font-size: 1.4rem;
        border-radius: 10px;
        padding: 1.5rem;
        gap: 0.5rem;
      }

      .btn-green {
        background-color: #ffff;
        color: $bg-green;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 2px $bg-green;
      }

      .btn-blue {
        background-color: #ffff;
        color: $bg-blue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 2px $bg-blue;
      }

      img {
        display: block;
      }
    }
  }

  .img-main {
    width: 35vw;
  }

  .section-results {
    font-family: $primary-font;
    background-color: $bg-lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 20vh;

    h2 {
      color: $bg-green;
      font-size: 2.8rem;
    }

    p {
      color: $secondary-color;
      font-size: 1.4rem;
    }
  }
}

.section-flow {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .box-text {
    width: 72%;

    h2 {
      color: $primary-color;
      font-family: $primary-font;
      font-size: 3.2rem;
    }

    p {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 1.8rem;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 65%;

    .cards {
      background-color: $bg-lightgrey;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 10px;
      width: 40%;
      height: 100%;
      border: solid green;

      .cards-title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;

        h3 {
          font-family: $primary-font;
          font-size: 1.8rem;
        }
      }

      ol {
        border: solid blue;
        height: 60%;
      }

      li {
        font-family: $primary-font;
        font-size: 1.4rem;
      }

      p {
        font-family: $secondary-font;
        font-size: 1.4rem;
      }
    }

    .card-donors {
      .cards-title {
        color: $bg-green;
      }

      .icon-circle {
        background-color: #dcfce7;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 0.5rem;
      }

      img {
        width: 1.3vw;
      }
    }

    .card-acquirers {
      .cards-title {
        color: $bg-blue;
        width: 55%;
      }

      .icon-circle {
        background-color: #dbeafe;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 0.5rem;
      }

      img {
        width: 1.2vw;
      }
    }
  }
}
